/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Utility */

.flex {
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.large-container {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
}

.align-center {
    align-items: center;

}

.align-baseline {
    align-items: baseline;
}

.justify-center {
    justify-content: center;
}

.gp-5 {
    gap: 5px;
}

.gp-10 {
    gap: 10px;
}

.gp-20 {
    gap: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mt-20{
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.mr-20 {
    margin-right: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.pad15{
    padding: 15px 0px;
}

.padyx-20 {
    padding: 20px 20px;
}

.col-70 {
    width: 70%;
}

.col-30 {
    width: 30%;
}

/* TPOGRAPHY */

.sans {
    font-family: sans-serif;
}

.text-black {
    color: #000000;
}

.text-blue {
    color: #0B63FE;
}

.text-grey {
    color: #758295;
}

.text-white07 {
    color: rgba( 255, 255, 255, 0.7);
}


.fs-07 {
    font-size: 0.7rem;
}


.fw-300 {
    font-weight: 300;
}

/* BUTTON */
.btn {
    padding: 0.3em 0.8em;
    text-decoration: none;
    background-color: #0061FE;
    color: #fff;
}

.btn-large {
    padding: 0.8em 0.8em;
    display: inline-block;
    font-size: 0.7rem;
    width: 100%;
    text-align: center;
}

.btn-light {
    background-color: #fff;
    color: black;
    border: 1px solid black;
    width: 50%;
}


/* Header */

header {
    height: 70px;
    background-color: white;
    font-size: 0.8rem;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;

}

.logo {
    height: 20px;
}


.box-header-left {
    gap: 20px;
}


header ul {
    list-style-type: none;
    gap: 20px;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* HERO */
.hero {
    background-color: #B5D0E6;
}

.hero-title {
    font-size: 2rem;
    margin-top: 70px;
    padding-top: 1.5em;
    font-weight: 900;
}

.cont-hero {
    width: 100%;
    margin: 0 auto;
}

.hero-p {
    font-size: 1.1rem;
    font-weight: 200;
    line-height: 1.6;
    padding: 10px 0;
    position: relative;
}

.hero-p a {
    
    text-decoration: none;
}

.arrow-down {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.5rem;
}

/* MAIN */

.main-container {
    width: 50%;
    max-width: 700px;
    margin: 0 auto;

    /* debug */
    min-height: 2000px;
}

/* PLAN */

.plan-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}


.col {
    width: calc(100% / 3 - 40px / 3);
}

.card-header {
    
    padding: 4px 8px;
    font-size: 0.7rem;
    border-bottom: 1px solid #D8D8DB;
}

.card-header-bottom {
    
    padding: 4px 8px;
    font-size: 0.7rem;
    border-bottom: 1px solid #D8D8DB;
}

.card {
    border: 1px solid #D8D8DB;
}

.card ul {
    list-style: none;
    font-size: 0.7rem;
}

.card-content {
    padding: 30px 20px;
}

.card-content hr {
    width: 15%;
}

.row {
    width: 100%;
}

.share, .user, 
.disk {
    display: flex;
    gap: 5px;
}

.euro {
    font-weight: 600;
    font-size: 0.8rem;
}

/* PARTNER */

.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
}

.p-partner {
    font-size: 0.8rem;
    
}

/* BUSINESS */

.business-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}


/* FOOTER */

footer {
    background-color: #000000;
    padding: 60px 50px;
    color: #fff;
}


.nav-foot {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.nav-foot ul {
    list-style: none;
    font-size: 0.8rem;
    font-weight: 100;
    line-height: 2;
}

.col-foot {
    width: calc(100% / 5 - 80px / 5);
}


.divider {
    width: 15%;
}
