/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Utility */

.flex {
    display: flex;
}


.container {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;


    /* debug */
    background-color: aqua;
    border: 2px solid red;
    min-height: 600px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-40 {
    margin-top: 40px;
}



/* Header */

header {
    height: 70px;

    /* debug */
    background-color: black;
    color: white;
    justify-content: space-between;

}

.box-header-left {

    /* debug */
    background-color: purple;
}

.box-header-right {

    /* debug */
    background-color: purple;
}


/* MAIN */

.main-container {
    width: 50%;
    max-width: 700px;
    margin: 0 auto;

    /* debug */
    background-color: yellow;
    min-height: 2000px;
    border: 2px solid blue;
}

/* PLAN */

.plan-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}


.col {
    width: calc(100% / 3 - 40px / 3);

    /* debug */
    border: 2px solid black;
    min-height: 600px;
}

.card-header {
    border: 1px solid grey;

    /* debug */
    min-height: 30px;
}

.row {
    width: 100%;

    /* debug */
    border: 2px solid black;
    min-height: 300px;
}

/* PARTNER */

.col-60 {
    width: 60%;

    /* debug */
    border: 1px solid red;
    min-height: 300px;
}

.col-40 {
    width: 40%;

    /* debug */
    border: 1px solid red;
    min-height: 300px;
}


/* BUSINESS */

.business-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}